.footer-8 {
  background-color: #f0f0f1;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-8-box {
    width: 1350px;
    height: inherit;

    .top {
      width: inherit;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .part-1 {
        width: 199px;
        height: 80px;
        padding: 0 20px;
        border-width: 0 1px 1px 0px;
        border-style: solid;
        border-color: #e0e0e2;
        display: flex;
        justify-content: center;
        align-items: center;
        .part-img {
          height: 15px;
        }
      }

      a:last-of-type {
        border-right: none;
      }
    }

    .bottom {
      width: inherit;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .part-2 {
        width: 220.4px;
        height: 70px;
        padding: 0 20px;
        border-width: 0 1px 0px 0px;
        border-style: solid;
        border-color: #e0e0e2;
        display: flex;
        justify-content: center;
        align-items: center;
        .part-img {
          height: 15px;
        }
      }
      a:last-of-type {
        border-right: none;
      }
    }
  }
}
