.header{
    width: 100%;
    height: 170px;
    box-shadow: 0 1px 2px grey;
    .header-top{
        width: inherit;
        height: 60px;
        img{
            width: inherit;
            height: inherit;
            object-fit: cover;
        }
    }
    .header-center{
        width: inherit;
        height: 60px;
        display: flex;
        .header-center-logo{
            width: 15%;
            height: inherit;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 20px;
            img{
                width: 190px;
                height: 30px;
            }
        }
        .header-center-search{
            width: 65%;
            height: inherit;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            [type="text"]{
                width: 600px;
                height: 40px;
                background-color: #F0F0F1;
                outline: none;
                border: none;
                border-radius: 7px;
                padding-right: 40px;
                &::placeholder{
                    font-family: var(--fontFamily);
                    font-size: 12px;
                }
            }
        }
        .header-center-register{
            width: 20%;
            height: inherit;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            padding-right: 10px;
            column-gap: 15px;
            .header-center-register-link{
                display: block;
                width: 130px;
                height: 40px;
                border: 1px solid lightgrey;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                text-decoration: none;
                font-family: var(--fontFamily);
                font-size: 12px;
                color: #2b2b2b;
                border-radius: 7px;
                span{
                    display: inline-block;
                    width: 2px;
                    height: 12px;
                    background-color: #2b2b2b;
                }
            }
            span{
                display: inline-block;
                width: 1px;
                height: 25px;
                background-color: rgb(238, 236, 236);
            }
            .header-center-register-cart{
                img{
                    margin-top: 5px;
                }
            }
        }
    }
    .header-bottom{
        width: inherit;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
        .right{
            width: 75%;
            height: inherit;
            padding-right: px;
            nav{
                width: 100%;
                height: inherit;
                display: flex;
                flex-flow: row wrap;
                div{
                    width: fit-content;
                    height: inherit;
                    display: flex;
                    align-items: center;
                    span{
                        display: inline-block;
                        width: 1px;
                        height: 15px;
                        background-color: lightgrey;
                    }
                    a{
                        display: block;
                        width: fit-content;
                        height: inherit;
                        padding: 0px 10px;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        font-family: var(--fontFamily);
                        font-size: 12px;
                        color: grey;
                        transition: 300ms;
                        
                        &:hover{
                            color: deeppink;
                        }
                        
                    }
                }
            }
        }
        .left{
            width: 25%;
            height: inherit;
            font-family: var(--fontFamily);
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 10px;
            column-gap: 10px;
            color: grey;
        }
    }
}
.activeMenu{
    font-weight: bold !important;
    font-size: 13px !important;
    color: black !important;
}