.story{
width: 100%;
height: 170px;
margin-top: 10px;
display: flex;
justify-content: center;
.story-center{

    width: 80%;
    height: inherit;
   
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slider-item{
        width: inherit;
        height: inherit;
       padding-top: 20px;
       text-align: center;
       img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
        outline: 2px solid blueviolet;
        outline-offset: 3px;
        margin-bottom: 20px;
        display: block;
        margin: 10px auto;
       }
       h6{
        width: 70%;
        margin: 10px auto;
       font-family: var(--fontfamily);
       font-size:10px;
       line-height: 20px;
       color: gray;
       }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

}