
.cat-3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  user-select: none;
}
.cat-3 .cat-3-box {
  width: 100%;
  padding: 80px 0;
}
.cat-3 .cat-3-box .swiper {
  width: inherit;
  height: inherit;
  padding: 0 15px;
}
.cat-3 .cat-3-box .swiper .swiper-slide {
  width: 114px;
  height: 150px;
  background-color: #fff;
  border-radius: 16px;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}
.cat-3 .cat-3-box .swiper .swiper-slide .slide-img {
  width: 90px;
  height: 90px;
}
.cat-3 .cat-3-box .swiper .swiper-slide .slide-sp {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  text-align: center;
}
.cat-3 .cat-3-box .swiper .swiper-slide:first-of-type {
  background-color: #f0f0f1;
}
.cat-3 .cat-3-box .swiper .swiper-slide:first-of-type .slide-sp {
  font-weight: 700;
}
.cat-3 .cat-3-box .swiper .swiper-button-next,
.cat-3 .cat-3-box .swiper .swiper-rtl .swiper-button-prev,
.cat-3 .cat-3-box .swiper .swiper-button-prev,
.cat-3 .cat-3-box .swiper .swiper-rtl .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid whitesmoke;
}
.cat-3 .cat-3-box .swiper .swiper-button-next:after,
.cat-3 .cat-3-box .swiper .swiper-button-prev:after {
  font-size: 10px;
  color: #2b2b2b;
  font-weight: bold;
}
.cat-3 .cat-3-box .swiper .swiper-button-next.swiper-button-disabled,
.cat-3 .cat-3-box .swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
