.finish2 {
  user-select: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  direction: rtl;
  margin-top: 16px;
}
.finish2 .finish2-box {
  width: calc(100% - 32px);
  height: 463px;
  outline: 1px solid #e0e0e2;
  border-radius: 16px;
}
.finish2 .finish2-box .box-top {
  width: inherit;
  height: 67.6px;
  padding: 12px 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  column-gap: 5px;
}
.finish2 .finish2-box .box-top .top-img {
  width: 24px;
  height: 24px;
}
.finish2 .finish2-box .box-top .top-sp {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
}
.finish2 .finish2-box .box-top .top-sp .line {
  position: absolute;
  width: 70px;
  height: 2px;
  bottom: -5px;
  right: -20px;
  background-color: #ef394e;
}
.finish2 .finish2-box .box-bottom {
  width: inherit;
  height: 386px;
}
.finish2 .finish2-box .box-bottom .swiper {
  width: inherit;
  height: inherit;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide {
  padding: 12px 8px;
  height: inherit;
  border-left: 1px solid #f0f0f1;
  text-decoration: none;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .one {
  width: 116px;
  height: 26px;
  margin-bottom: 4px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .two {
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .two .two-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .three {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  color: #3f4064;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 52px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .four {
  font-family: var(--font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: #ef394e;
  height: 24px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .four-ex {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: var(--font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: #62666d;
  column-gap: 5px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .four-ex .send-img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 18px;
  height: 18px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .five {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .five .five-right {
  width: 34px;
  height: 20px;
  border-radius: 16px;
  background-color: #d32f2f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-slide
  .five
  .five-right
  .right-sp {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-slide
  .five
  .five-left
  .left-img {
  width: 16px;
  height: 16px;
}
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-slide
  .five
  .five-left
  .left-sp {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  color: #3f4064;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .six {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  color: #c0c2c5;
  text-align: left;
  text-decoration: line-through;
  padding-left: 20px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .seven {
  width: 171.5px;
  height: 4px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .eight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding-top: 4px;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-slide .eight .eight-left {
  color: #ef394e;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
}
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-slide
  .eight
  .eight-right
  .right-sp1 {
  color: #ef394e;
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 400;
}
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-slide
  .eight
  .eight-right
  .right-sp2 {
  font-family: var(--font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: #81858b;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-button-next,
.finish2 .finish2-box .box-bottom .swiper .swiper-rtl .swiper-button-prev,
.finish2 .finish2-box .box-bottom .swiper .swiper-button-prev,
.finish2 .finish2-box .box-bottom .swiper .swiper-rtl .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid whitesmoke;
}
.finish2 .finish2-box .box-bottom .swiper .swiper-button-next:after,
.finish2 .finish2-box .box-bottom .swiper .swiper-button-prev:after {
  font-size: 10px;
  color: #2b2b2b;
  font-weight: bold;
}
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-button-next.swiper-button-disabled,
.finish2
  .finish2-box
  .box-bottom
  .swiper
  .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}