.fresh2 {
  margin-top: 16px;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}
.fresh2 .fresh2-box {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: calc(100% - 32px);
  height: inherit;
  background-color: #f5f0f0;
  border-radius: 16px;
  background-image: url(./../../images/fresh2/incrediblePattern.svg),
    linear-gradient(267.6deg, rgba(230, 18, 61, 0.1), rgba(242, 242, 242, 0));
  background-repeat: no-repeat;
  background-position: left;
}
.fresh2 .fresh2-box .f-link-center {
  all: unset;
  cursor: pointer;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
}
.fresh2 .right .f-2 {
  position: relative;
  width: calc(356px - 66px);
  height: inherit;
  margin-right: 20px;
}
.fresh2 .right .f-2 img {
  width: 250px;
  height: 28px;
}
.fresh2 .right .f-2 .f-sp {
  font-family: var(--font-family);
  font-size: 11px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 25px;
}
.fresh2 .right .f-2 .p-f {
  position: absolute;
  top: 0;
  left: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
}
.fresh2 .right .f-2 .p-f .hour,
.fresh2 .right .f-2 .p-f .min,
.fresh2 .right .f-2 .p-f .sec {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
}
.fresh2 .right .f-2 .p-f .za {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  color: #000;
}
.fresh2 .left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.fresh2 .left .f-kala {
  width: 492px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}
.fresh2 .left .f-kala .f-link {
  text-decoration: none;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}
.fresh2 .left .f-kala .f-link .f-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fresh2 .left .f-kala .f-link .f-img img {
  margin-top: 6px;
  width: 58px !important;
  height: 58px !important;
  border-radius: 50%;
}
.fresh2 .left .f-kala .f-link .f-span {
  width: 34px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d32f2f !important;
  font-size: 12px;
  border-radius: 16px;
  font-weight: 400;
}
.fresh2 .left .f-kala .f-link .f-span span {
  font-family: var(--font-family);
  color: #fff;
}
.fresh2 .left .more {
  background-color: #fff;
  width: 144px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fresh2 .left .more span {
  color: #ef394e;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
}
.fresh2 .left .more img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}